body {
  font-family: Arial, sans-serif;
  background: #333;
  text-align: center;
  padding: 2em;
  color: #007acc;
}

form input {
  margin: 0.3em;
  padding: 0.5em;
}

button {
  padding: 0.5em 1em;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}
